rs.initiate()
sleep(13000)
{% for host in groups.mongoRS %}
rs.add("{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017")
sleep(8000)
{% endfor %}
{% for host in groups.arbiter %}
rs.addArb("{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27027")
{% endfor %}
printjson(rs.status())
